body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-studio {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* #endregion header */
/* #region hero 1*/
.section-hero {
  background: #2e2f42;
  padding: 188px 0;
}
.title-hero {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion hero 1 */
/* #region feature 2 */
.section-ethics {
  padding: 120px 0;
}
.title-ethics {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ethics-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 72px) / 4);
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion feature 2 */
/* #region our team 3 */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-cards {
  padding: 32px 0px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-cards-title {
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.profession-text {
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion our team 3 */
/* #region portfolio 4 */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.cards-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 360px;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio 4 */
/* #region footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
